footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);

  .footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;
      flex-direction: row;
    }

    .footer-container-box {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1199px) {
        align-items: center;
      }

      &:not(:last-child) {
        @media screen and (max-width: 1199px) {
          margin-bottom: 60px;
        }

        @media screen and (min-width: 1200px) {
          margin-right: 70px;
        }
      }
    }

    .footer-logo-link {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: -2px;
      }

      .footer-logo-second-word {
        color: var(--hero-and-city-word-color);
      }
    }
  }
}

.footer-contact-link {
  font-family: var(--first-font);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contact-link-color);
  transition-property: color;
  transition-duration: var(--anim-transition-duration);
  transition-timing-function: var(--anim-transition-timing-function);

  &:hover,
  &:focus,
  .footer-contact-link-city-address:hover,
  .footer-contact-link-city-address:focus {
    color: var(--second-color);
  }
}

.footer-contact-link-city-address {
  color: var(--hero-and-city-word-color);
}

.address-list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address-list-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-container-box-social-links {
  .footer-icon-heading {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-and-city-word-color);
    margin-bottom: 20px;
  }

  .footer-list-icon-big-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-list-icon-box {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.footer-list-icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-list-icon-bgc);
  transition-property: background-color;
  transition-duration: var(--anim-transition-duration);
  transition-timing-function: var(--anim-transition-timing-function);

  .footer-list-icon {
    width: 20px;
    height: 20px;
    display: block;
    fill: var(--hero-and-city-word-color);
    transition-property: fill;
    transition-duration: var(--anim-transition-duration);
    transition-timing-function: var(--anim-transition-timing-function);
  }

  &:hover,
  &:focus {
    background-color: var(--second-color);
  }

  &:hover .footer-list-icon,
  &:focus .footer-list-icon {
    fill: var(--hero-and-city-word-color);
  }
}

.footer-container-box-forms {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    margin-left: 17px;
  }

  .form-in-footer-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-and-city-word-color);
  }
}

.form-in-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  .mail-form-in-footer {
    display: block;
    color: var(--hero-and-city-word-color);
    background-color: var(--footer-bg-color);
    outline: none;
    border: 1px solid var(--mail-form-in-footer-border-color);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    // width: 358px;
    // max-width: 450px;
    // width: 100%;
    width: 450px;
    height: 50px;
    // margin-right: 12px;
    margin-bottom: 20px;
    padding-left: 16px;
    transition-property: border;
    transition-duration: var(--anim-transition-duration);
    transition-timing-function: var(--anim-transition-timing-function);

    @media screen and (min-width: 1200px) {
      width: 358px;
      // display: inline-block;
      margin-right: 12px;
      margin-bottom: 0;
    }

    &::placeholder {
      color: var(--mail-form-in-footer-border-color);
    }

    &:focus {
      outline: none;
    }
  }

  .button-form-in-footer {
    display: inline-block;
    background: var(--second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: var(--hero-and-city-word-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    padding-left: 29px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    .footer-button-icon {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }

    &:hover,
    &:focus {
      background-color: var(--hero-and-modal-buttons-h-f-color);
    }
  }
}
